<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fileupload">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/myuploads"
        android:label="@string/app_name"
        android:roundIcon="@drawable/myuploads"
        android:supportsRtl="true"
        android:theme="@style/Theme.FileUpload"
        tools:targetApi="31">
        <activity
            android:name=".ViewPdfFilesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity android:name=".UserProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fileupload.MainActivity" />
        </activity>
        <activity
            android:name=".ViewImageFiles"
            android:exported="false" />
        <activity android:name=".UploadFileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fileupload.MainActivity" />
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity android:name=".UploadImageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fileupload.MainActivity" />
        </activity>
        <activity
            android:name=".ViewPdfActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>