<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uploads.fileupload" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/myuploads"
        android:label="@string/app_name"
        android:roundIcon="@drawable/myuploads"
        android:supportsRtl="true"
        android:theme="@style/Theme.FileUpload"
        tools:targetApi="31" >
        <activity
            android:name="com.uploads.fileupload.ui.ViewImageActivity"
            android:exported="false" />
        <activity
            android:name="com.uploads.fileupload.ui.ViewPdfFilesActivity"
            android:exported="false" />
        <activity android:name="com.uploads.fileupload.acounts.UserProfile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uploads.fileupload.ui.MainActivity" />
        </activity>
        <activity android:name="com.uploads.fileupload.ui.UploadFileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uploads.fileupload.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.uploads.fileupload.acounts.ForgotPassword"
            android:exported="false" />
        <activity android:name="com.uploads.fileupload.ui.UploadImageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uploads.fileupload.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.uploads.fileupload.acounts.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name="com.uploads.fileupload.ui.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.uploads.fileupload.acounts.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>